.Person {
    display: flex;
    border: 1px solid grey;
    align-items: center;
    margin: 5px auto;
    max-width: 500px;
}

.Person .person-image-block {
    width: 30%;
}

.Person .person-info-block {
    width: 70%;
}

.Person .person-title {
    margin: 0;
    padding: 5px 10px;
}