* {
    box-sizing: border-box;
}

.Header {
    display: flex;
    align-items: center;
}

.Header__title {
    width: 30%;
    background: burlywood;
    font-size: 34px;
    font-weight: normal;
    margin: 0;
}

.Header__main-nav {
    width: 70%;
    background: tan;
}

.main-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-nav__list-item {
    display: inline-block;
    border-right: 1px solid grey;
}

.main-nav__list-item:last-child {
    border-right: none;
}

.main-nav__list-item-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.main-nav__list-item-link:hover {
    background: beige;
}

.main-nav__list-item-link:active {
    background: burlywood;
}

